<body>
  <main>
    <div class="main-wrap">
      <header>
        <div class="header-wrap">
          <div class="site_title_header">
            <%= link_to image_tag('header-logo.png', class:'header-logo'), "/" %>
          </div>
        </div>
      </header>
      <div class="main-content">
        <div class="main-image">
          <%= image_tag 'logo.png', class:'main-logo' %>
        </div>
        <div class="main-text">
          <p>このサイトでは位置情報を利用しています。</p><br>
          <p>必ず位置情報をオンにして利用してください。</p>
        </div>
        <div class="main-btn">
          <%= link_to bicycles_search_location_path, class:'btn btn-main btn-c' do%>
          <i class="fas fa-bicycle"></i>　現在地から探す
          <i class="fas fa-search-location"></i>
          <%end%>
        </div>
      </div>
      <footer>
        <div class="footer-wrap">
          <div class="footer-info">
            <small class="footer-text"> &copy; 2020 ATSUSHI All rights Reserved.</small>
          </div>
        </div>
      </footer>
    </div>
  </main>
</body>
