test
<%= include_gon %>
<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>
<%# <script>

    // 現在地取得処理
    function getPosition() {
      // 現在地を取得
      navigator.geolocation.getCurrentPosition(
        // 取得成功した場合
        function(position) {
            window.location.href = "/bicycles/search_location?latitude="+position.coords.latitude+"&longitude="+position.coords.longitude
            // $.ajax({
            //   url: "/shops/search_location",
            //   type: "GET",
            //   dataType: 'html',
            //   data: {latitude : position.coords.latitude,
            //         longitude : position.coords.longitude},
            // });
        },
        // 取得失敗した場合
        function(error) {
          switch(error.code) {
            case 1: //PERMISSION_DENIED
              alert("位置情報の利用が許可されていません");
              break;
            case 2: //POSITION_UNAVAILABLE
              alert("現在位置が取得できませんでした");
              break;
            case 3: //TIMEOUT
              alert("タイムアウトになりました");
              break;
            default:
              alert("その他のエラー(エラーコード:"+error.code+")");
              break;
          }
        }
      );
    }
  </script> %>


<script>
let map
function initMap(){
  geocoder = new google.maps.Geocoder()

  var lat = gon.lat;
  var lng = gon.lng;
  var location = gon.location

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat, lng},
    zoom: 15,
  });

  marker = new google.maps.Marker({
    // position: Shop.within(3, origin: {lat, lng}) 
    position: location,
    // position:  {lat, lng},
    map: map
  });
}

</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCd0HjEkvdORg2mGfvCU4RX1xapeDLEUBQ&callback=initMap">
</script>
